@model List<SistemaInventario.Models.Producto>;

<title>Productos con Inventario Bajo</title>

<link rel="stylesheet" href="~/css/table.css" />
<link rel="stylesheet" href="~/css/button.css" />
<link rel="stylesheet" href="~/css/alert.css" />

<div class="table-container">

    <h2>Productos con Inventario Bajo</h2>

    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Producto</th>
                <th>Código</th>
                <th>Cantidad en Inventario</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@item.Nombre</td>
                        <td>@item.CodigoProducto</td>
                        <td>@item.CantidadStock</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>

    @if (!Model.Any())
    {
        <p class="text-enpty">No hay productos con inventario bajo.</p>
    }

</div>
