@model InventoryManagementWebApp.ViewModels.Login;

@{
    Layout = null;
}
<title>Login</title>

<link rel="stylesheet" href="~/css/login.css" />

<section class="section">
    <div class="container">
        <div class="logo">
            <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
            <h1 class="logo-title">Sistema de Inventario</h1>
        </div>
        <div class="form-container">
            <h1 class="title">Inicia sesión</h1>
            <form class="form" asp-controller="Acceso" asp-action="Login" method="post">

                <label class="form-label">
                    <span class="label-text">Correo</span>
                    <input class="form-input" type="email" placeholder="Ex. james@bond.com" inputmode="email" asp-for="Correo" required />
                </label>
                <label class="form-label">
                    <span class="label-text">Contraseña</span>
                    <input class="form-input" type="password" placeholder="••••••••" asp-for="Password" required />
                </label>

                @if (TempData["Mensaje"] != null)
                {
                    <div class="alerta" role="alert">
                        @TempData["Mensaje"]
                    </div>
                }

                <div class="form-footer">
                    <p class="links">
                        <a class="link" asp-controller="Usuario" asp-action="Create">Crear cuenta</a>
                    </p>
                    <button type="submit" class="btn-primary"> Ingresar </button>
                </div>

            </form>
        </div>
    </div>
</section>
