@model List<InventoryManagementWebApp.Models.MovimientoInventario>;

<title>Reporte</title>

<link rel="stylesheet" href="~/css/table.css" />

<div class="table-container">

    <h2>Reporte de Inventario</h2>
    <div class="header-table">
        <div class="btn-container">
            <a asp-controller="Reporte" asp-action="ExportStockExcel" class="btn-new btn-link-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-spreadsheet" width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                    <path d="M8 11h8v7h-8z" />
                    <path d="M8 15h8" />
                    <path d="M11 11v7" />
                </svg>
            </a>

            <a asp-controller="Reporte" asp-action="ExportStockPDF" class="btn-new">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-type-pdf" width="34" height="34" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
                    <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
                    <path d="M17 18h2" />
                    <path d="M20 15h-3v6" />
                    <path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
                </svg>
            </a>
        </div>
        <input type="text" placeholder="Search..." class="search-input">
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Tipo de Movimiento</th>
                <th>Cantidad</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Producto.Nombre</td>
                        <td>@item.Movimiento</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
