@using SistemaInventario.ViewModels
@model InventarioVM

<title>Registrar Movimiento</title>
<link rel="stylesheet" href="~/css/form.css" />
<link rel="stylesheet" href="~/css/button.css" />
<link rel="stylesheet" href="~/css/alert.css" />

<section class="container">
    <div class="grid-layout">
        <main class="form-container" style="padding: 0px">
            <div class="form-content">
                <h1 class="form-title">Registrar una entrada o salida de Producto</h1>

                <form class="form-grid" asp-controller="Movimiento" asp-action="Create" method="post">

                    <div class="input-group full">
                        <label for="ProductoId" class="label">Producto</label>
                        <select class="input" asp-for="ProductoId" asp-items="ViewBag.Productos">
                            <option value="">Seleccion el Producto</option>
                        </select>
                    </div>

                    <div class="input-group full">
                        <label for="TipoMovimiento" class="label">Tipo de Movimiento</label>
                        <select class="input" asp-for="Movimiento">
                            <option value="Entrada">Entrada</option>
                            <option value="Salida">Salida</option>
                        </select>
                    </div>

                    <div class="input-group">
                        <label for="fecha" class="label">Fecha de Registro</label>
                        <input type="date" id="fecha" class="input" asp-for="Fecha" required />
                    </div>

                    <div class="input-group">
                        <label for="cantidad" class="label">Cantidad</label>
                        <input type="number" id="cantidad" class="input" asp-for="Cantidad" required />
                    </div>

                    <div class="input-group full">
                        <label for="venta" class="label">Descripción</label>
                        <textarea id="venta" class="input" style="height: 50px" asp-for="Descripcion"></textarea>
                    </div>

                    <div class="form-actions">
                        <a class="btn btn-secondary" asp-controller="Movimiento" asp-action="Index">Regresar</a>
                        <button class="btn btn-primary" type="submit">Confirmar</button>
                    </div>

                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success text-center" role="alert">
                            @TempData["Success"]
                        </div>
                    }

                    @if (TempData["Warning"] != null)
                    {
                        <div class="alert alert-warning text-center" role="alert">
                            @TempData["Warning"]
                        </div>
                    }

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert input-group full validation-summary-errors">
                            @Html.ValidationSummary()
                        </div>
                    }

                </form>
            </div>
        </main>
    </div>
</section>