@model InventoryManagementWebApp.Models.Categoria;

<title>Agregar Categoria</title>
<link rel="stylesheet" href="~/css/form.css" />

<section class="container">
    <div class="grid-layout">
        <main class="form-container">
            <div class="form-content">
                <h1 class="form-title">Agregar Categoría Nueva</h1>

                <form class="form-grid" asp-controller="Categoria" asp-action="Create" method="post">

                    <div class="input-group full">
                        <label for="FirstName" class="label"> Categoría </label>
                        <input type="text" id="FirstName" class="input" asp-for="Nombre" required />
                    </div>

                    <div class="input-group full">
                        <label for="FirstName" class="label"> Descripción </label>
                        <textarea id="FirstName" class="input" style="height: 110px" asp-for="Descripcion">
                        </textarea>
                    </div>

                    <div class="input-group full">
                        <button class="btn-pr" type="submit">Confirmar</button>
                    </div>

                    @if (TempData["Mensaje"] != null)
                    {
                        <div class="input-group alerta full" role="alert">
                            @TempData["Mensaje"]
                        </div>
                    }

                </form>
            </div>
        </main>
    </div>
</section>