@model SistemaInventario.DTOs.RegistroDTO;

@{
    Layout = null;
}
<title>Registro Nuevo</title>
<link rel="stylesheet" href="~/css/login.css" />

<section>
    <img class="blob" src="/images/blob.svg" alt="blob">
    <div class="orbit"></div>
    <div class="login">
        <img src="/images/logo.png" alt="logo">
        <h2>Registro</h2>
        <h3>Ingrese sus datos</h3>
        <form class="form" asp-controller="Acceso" asp-action="Create" method="post">
            <!-- Campo de Nombre de Usuario -->
            <div class="textbox">
                <input type="text" id="userName" asp-for="Nombre" required">
                <label for="name">User Name</label>
            </div>
            <!-- Campo de Email -->
            <div class="textbox">
                <input type="email" id="email" asp-for="Correo" required>
                <label for="email">Email</label>
            </div>
            <!-- Campo de Contraseña -->
            <div class="textbox">
                <input type="password" id="password" asp-for="Password" required>
                <label for="password">Password</label>
            </div>
            <div class="textbox">
                <input type="password" id="password" asp-for="ConfirPassword" required>
                <label for="password">Password</label>
            </div>

            <!-- Mostrar errores del servidor -->
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success text-center" role="alert">
                    @TempData["Success"]
                </div>
            }

            @if (TempData["Warning"] != null)
            {
                <div class="alert alert-warning text-center" role="alert">
                    @TempData["Warning"]
                </div>
            }

            <!-- Botón de Registro -->
            <button type="submit">Registrar</button>
        </form>

        <p class="footer">
            ¡Ya tienes una cuenta! <a asp-controller="Acceso" asp-action="Login">Login</a>
        </p>

    </div>
</section>