@model SistemaInventario.DTOs.LoginDTO;

@{
    Layout = null;
}
<title>Login</title>

<link rel="stylesheet" href="~/css/login.css" />

<section>
    <img class="blob" src="/images/blob.svg" alt="blob" />
    <div class="orbit"></div>
    <div class="login">
        <img src="/images/logo.png" alt="logo">
        <h2>Sistema de Inventario</h2>
        <h3>¡Administre sus productos!</h3>
        <form class="form" asp-controller="Acceso" asp-action="Login" method="post">
            <!-- Campo de Email -->
            <div class="textbox">
                <input type="email" id="correo" name="correo" asp-for="Correo" inputmode="email" required />
                <label for="correo">Email</label>
            </div>
            <!-- Campo de Contraseña -->
            <div class="textbox">
                <input type="password" id="password" name="password" asp-for="Password" required />
                <label for="password">Password</label>
            </div>
            <!-- Mostrar errores del servidor -->
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success text-center" role="alert">
                    @TempData["Success"]
                </div>
            }

            @if (TempData["Warning"] != null)
            {
                <div class="alert alert-warning text-center" role="alert">
                    @TempData["Warning"]
                </div>
            }
            <!-- Botón de Acceso -->
            <button type="submit">Login</button>
        </form>

        <a>¿Has olvidado tu contraseña?</a>
        <p class="footer">
            ¿No tienes una cuenta? <a asp-controller="Acceso" asp-action="Create">¡Registrarse!</a>
        </p>

    </div>
</section>
