@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
root {
    --color-body: #EDE8DC;
    --bg-color: #303443;
    --border-color: #141720;
    --text-color-w: white;
    --text-color-b: #4b5563;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-body);
    padding: 0;
    margin: 0;
}

input, button {
    font-family: "Poppins", sans-serif !important;
}

/* Estructura principal */
.layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar-container {
    width: 250px; /* Ancho del sidebar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #141720;
    background-color: #303443;
}

.logo-section {
    padding: 24px;
}

.logo {
    display: grid;
    place-content: center;
    height: 40px;
    width: 100%;
    background-color: #303443;
    color: #f3f4f6;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
}

.menu {
    margin-top: 24px;
    list-style: none;
    padding-left: 0;
}

.menu-item {
    display: block;
    padding: 8px 16px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #f3f4f6;
    border-radius: 8px;
    text-decoration: none;
}

    .menu-item:hover {
        background-color: #f3f4f6;
        color: #374151;
    }

    .menu-item.active {
        background-color: #f3f4f6;
        color: #374151;
    }

.user-section {
    border-top: 1px solid #141720;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 16px;
    text-decoration: none;
    background-color: #303443;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.user-info {
    margin-left: 8px;
}

.user-name {
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.user-email {
    font-size: 12px;
    color: #f3f4f6;
}

.box-content{
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    background-color: var(--color-body);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Estilos para los íconos */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon {
    display: flex;
    text-decoration: none;
    color: #141720;
    transition: color 0.3s;
    margin-left: 10px;
}

    .icon:hover {
        transform: scale(1.1);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    }
